<div class="container-fluid">
	<div class="row">
		<div style="text-align: center;" class="col-md-6">
			<form action="/auth/instagram" method="get">
				<input class="login_btn" type="image" src="/img/instagram_button.png" />
			</form>
		</div>
		
		<div style="text-align: center;" class="col-md-6">
			<form action="/auth/facebook" method="get">
				<input class="login_btn" type="image" src="/img/facebook_button.png" />
			</form>
		</div>		
	</div>
</div>
